/POO/nbproject/private/
/POO/build/
/AppAreaPerimeterRetangle/nbproject/private/
/AppAreaPerimeterRetangle/build/
/Encapsulamiento/nbproject/private/
/Encapsulamiento/build/
/CajeroAutomatico/nbproject/private/
/CajeroAutomatico/build/
/CajeroAutomatico/dist/
/HoyInterfaces/nbproject/private/
/HoyInterfaces/build/
/EjercicioIntegradorPokemon/nbproject/private/
/EjercicioIntegradorPokemon/build/
/POOInventarioMVCI/nbproject/private/
/InventarioPooMVC/nbproject/private/
/InventarioPooMVC/build/
/ArrayLIst/nbproject/private/
/ArrayLIst/build/
